.cards-container {
    
    display: flex;
      
    flex-direction: column;
    
    justify-content: center;
    
    align-items: left;
    
    text-align: center;
  
    }
    
    .custom-card {
      margin: 10px; /* Add some spacing between cards */
    }
   .row{
    display: flex;
  
  
   }
   .column{
  
    flex:33.33%;
    padding:5px;
   }